# Project - Data Cleaning

## Introduction
In this lab, we'll make use of everything we've learned about pandas, data cleaning, and exploratory data analysis. In order to complete this lab, you'll have to import, clean, combine, reshape, and visualize data to answer questions provided, as well as your own questions!

## Objectives
You will be able to:
- Use different types of joins to merge DataFrames 
- Identify missing values in a dataframe using built-in methods 
- Evaluate and execute the best strategy for dealing with missing, duplicate, and erroneous values for a given dataset 
- Inspect data for duplicates or extraneous values and remove them 


## The dataset
In this lab, we'll work with the comprehensive [Super Heroes Dataset](https://www.kaggle.com/claudiodavi/superhero-set/data), which can be found on Kaggle!


## Getting Started

In the cell below:

* Import and alias pandas as `pd`
* Import and alias numpy as `np`
* Import and alias seaborn as `sns`
* Import and alias matplotlib.pyplot as `plt`
* Set matplotlib visualizations to display inline in the notebook

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

For this lab, our dataset is split among two different sources -- `'heroes_information.csv'` and `'super_hero_powers.csv'`.

Use pandas to read in each file and store them in DataFrames in the appropriate variables below. Then, display the `.head()` of each to ensure that everything loaded correctly.

In [2]:
heroes_df = pd.read_csv('heroes_information.csv')
powers_df = pd.read_csv('super_hero_powers.csv')

display(heroes_df.head())
display(heroes_df.shape)
display(powers_df.head())

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

(734, 11)

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

It looks as if the heroes information dataset contained an index column.  We did not specify that this dataset contained an index column, because we hadn't seen it yet. Pandas does not know how to tell apart an index column from any other data, so it stored it with the column name `Unnamed: 0`.  

Our DataFrame provided row indices by default, so this column is not needed.  Drop it from the DataFrame in place in the cell below, and then display the head of `heroes_df` to ensure that it worked properly.

In [15]:
#heroes_df.drop(columns='Unnamed: 0',inplace=True)
heroes_df.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,NaN

## Familiarize yourself with the dataset

The first step in our Exploratory Data Analysis will be to get familiar with the data.  This step includes:

* Understanding the dimensionality of your dataset
* Investigating what type of data it contains, and the data types used to store it
* Discovering how missing values are encoded, and how many there are
* Getting a feel for what information it does and doesn't contain

In the cell below, get the descriptive statistics of each DataFrame.

In [17]:
#heroes_df.drop(columns='Unnamed: 0',inplace=True)
display(heroes_df.describe())
display(powers_df.describe())

           Height      Weight
count  734.000000  495.000000
mean   102.254087  112.252525
std    139.624543  104.151142
min    -99.000000    2.000000
25%    -99.000000   61.000000
50%    175.000000   81.000000
75%    185.000000  108.000000
max    975.000000  900.000000

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
count,667,667,667,667,667,667,667,667,667,667,...,667,667,667,667,667,667,667,667,667,667
unique,667,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,Sandman,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
freq,1,425,489,656,642,620,410,541,590,455,...,653,651,665,658,666,666,666,665,665,665

## Dealing with missing values

Starting in the cell below, detect and deal with any missing values in either DataFrame. Then, explain your methodology for detecting and dealing with outliers in the markdown section below. Be sure to explain your strategy for dealing with missing values in numeric columns, as well as your strategy for dealing with missing values in non-numeric columns.  

Note that if you need to add more cells to write code in, you can do this by:

**1.** Highlighting a cell and then pressing `ESC` to enter command mode.  
**2.** Press `A` to add a cell above the highlighted cell, or `B` to add a cell below the highlighted cell. 

Describe your strategy below this line:
____________________________________________________________________________________________________________________________

In [18]:
heroes_df.isna().sum()

name            0
Gender          0
Eye color       0
Race            0
Hair color      0
Height          0
Publisher      15
Skin color      0
Alignment       0
Weight        239
dtype: int64

In [19]:
heroes_df[heroes_df["Publisher"].isna()]

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
46,Astro Boy,Male,brown,-,Black,-99.0,NaN,-,good,NaN
86,Bionic Woman,Female,blue,Cyborg,Black,-99.0,NaN,-,good,NaN
138,Brundlefly,Male,-,Mutant,-,193.0,NaN,-,-,NaN
175,Chuck Norris,Male,-,-,-,178.0,NaN,-,good,NaN
204,Darkside,-,-,-,-,-99.0,NaN,-,bad,NaN
244,Ethan Hunt,Male,brown,Human,Brown,168.0,NaN,-,good,NaN
263,Flash Gordon,Male,-,-,-,-99.0,NaN,-,good,NaN
286,Godzilla,-,-,Kaiju,-,108.0,NaN,grey,bad,NaN
348,Jack Bauer,Male,-,-,-,-99.0,NaN,-,good,NaN
354,Jason Bourne,Male,-,Human,-,-99.0,NaN,-,good,NaN
381,Katniss Everdeen,Female,-,Human,-,-99.0,NaN,-,good,NaN
389,King Kong,Male,yellow,Animal,Black,30.5,NaN,-,good,NaN
393,Kool-Aid Man,Male,black,-,No Hair,-99.0,NaN,red,good,NaN
542,Rambo,Male,brown,Human,Black,178.0,NaN,-,good,83.0
658,The Cape,Male,-,-,-,-99.0,NaN,-,good,NaN

In [20]:
heroes_df['Publisher'].replace(to_replace='none',value='unknown',inplace=True)
heroes_df['Publisher'].value_counts()

Marvel Comics        388
DC Comics            215
NBC - Heroes          19
Dark Horse Comics     18
Image Comics          14
George Lucas          14
Star Trek              6
HarperCollins          6
SyFy                   5
Team Epic TV           5
ABC Studios            4
IDW Publishing         4
Icon Comics            4
Shueisha               4
Wildstorm              3
Sony Pictures          2
Hanna-Barbera          1
Titan Books            1
Rebellion              1
South Park             1
Universal Studios      1
Microsoft              1
J. R. R. Tolkien       1
J. K. Rowling          1
Name: Publisher, dtype: int64

In [21]:
for col in heroes_df.columns:
    print(col, '\n', heroes_df[col].value_counts(),'\n','size:',heroes_df[col].size, '\n','\n')

name
 Goliath            3
Spider-Man         3
Black Canary       2
Firestorm          2
Vindicator         2
                  ..
Brainiac 5         1
Sebastian Shaw     1
Captain Planet     1
Fighting Spirit    1
Darth Vader        1
Name: name, Length: 715, dtype: int64
 size: 734


Gender
 Male      505
Female    200
-          29
Name: Gender, dtype: int64
 size: 734


Eye color
 blue                       225
-                          172
brown                      126
green                       73
red                         46
black                       23
yellow                      19
white                       17
hazel                        6
grey                         6
purple                       4
gold                         3
violet                       2
yellow (without irises)      2
amber                        2
yellow / red                 1
silver                       1
indigo                       1
bown                         1
blue / white                 1
white / red                  1
yellow / blue                1
green / blue                 1
Name: Eye color, dtype: int64
 size: 734


Race
 -                  304
Human              208
Mutant              63
God / Eternal       14
Cyborg              11
                  ...
Planet               1
Xenomorph XX121      1
Martian              1
Bizarro              1
Spartoi              1
Name: Race, Length: 62, dtype: int64
 size: 734


Hair color
 -                   172
Black               158
Blond                99
Brown                86
No Hair              75
Red                  51
White                23
Auburn               13
Green                 8
Strawberry Blond      7
Grey                  5
Purple                5
Silver                4
Brown / White         4
Blue                  3
blond                 3
black                 3
Yellow                2
Orange                2
Black / Blue          1
Brownn                1
Indigo                1
Red / Orange          1
Pink                  1
Gold                  1
Orange / White        1
Red / Grey            1
Red / White           1
Brown / Black         1
Magenta               1
Name: Hair color, dtype: int64
 size: 734


Height
 -99.0     217
 183.0     59
 188.0     51
 178.0     39
 180.0     38
 185.0     35
 175.0     34
 168.0     29
 170.0     26
 165.0     26
 191.0     21
 193.0     21
 198.0     18
 173.0     17
 201.0     11
 196.0     11
 163.0      8
 213.0      7
 203.0      5
 211.0      5
 157.0      5
 244.0      4
 229.0      3
 155.0      3
 218.0      3
 226.0      3
 122.0      2
 206.0      2
 279.0      2
 366.0      2
 137.0      2
 30.5       2
 305.0      2
 61.0       1
 975.0      1
 142.0      1
 287.0      1
 267.0      1
 304.8      1
 701.0      1
 876.0      1
 259.0      1
 15.2       1
 297.0      1
 257.0      1
 62.5       1
 66.0       1
 160.0      1
 140.0      1
 234.0      1
 71.0       1
 79.0       1
 108.0      1
 64.0       1
Name: Height, dtype: int64
 size: 734


Publisher
 Marvel Comics        388
DC Comics            215
NBC - Heroes          19
Dark Horse Comics     18
Image Comics          14
George Lucas          14
Star Trek              6
HarperCollins          6
SyFy                   5
Team Epic TV           5
ABC Studios            4
IDW Publishing         4
Icon Comics            4
Shueisha               4
Wildstorm              3
Sony Pictures          2
Hanna-Barbera          1
Titan Books            1
Rebellion              1
South Park             1
Universal Studios      1
Microsoft              1
J. R. R. Tolkien       1
J. K. Rowling          1
Name: Publisher, dtype: int64
 size: 734


Skin color
 -                 662
green              21
blue                9
red                 9
white               7
silver              5
grey                5
gold                3
purple              3
yellow              2
pink                2
red / black         1
blue-white          1
orange              1
orange / white      1
black               1
gray                1
Name: Skin color, dtype: int64
 size: 734


Alignment
 good       496
bad        207
neutral     24
-            7
Name: Alignment, dtype: int64
 size: 734


Weight
 54.0     23
79.0     23
81.0     22
90.0     19
52.0     15
         ..
412.0     1
38.0      1
96.0      1
320.0     1
855.0     1
Name: Weight, Length: 134, dtype: int64
 size: 734

In [30]:
#heroes_df['Weight'].replace(to_replace=(-99.0),value=np.nan,inplace=True)
heroes_df['Weight'].value_counts().head()

TypeError: 'NoneType' object is not subscriptable

In [28]:
#heroes_df = heroes_df['Height'].replace(to_replace=(-99.0),value=np.nan)
heroes_df['Height'].value_counts()

TypeError: 'NoneType' object is not subscriptable

In [31]:
for col in heroes_df.columns:
    print(col, '\n', heroes_df[col].value_counts(),'\n','size:',heroes_df[col].size, '\n','\n')

AttributeError: 'NoneType' object has no attribute 'columns'

In [24]:
heroes_df.replace(to_replace='-',value='unknown',)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,unknown,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,unknown,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,unknown,bad,NaN
...,...,...,...,...,...,...,...,...,...,...
729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,unknown,good,52.0
730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,NaN
731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0
732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,unknown,good,57.0
733,Zoom,Male,red,unknown,Brown,185.0,DC Comics,unknown,bad,81.0

## Joining, Grouping, and Aggregating

In the cell below, join the two DataFrames.  Think about which sort of join you should use, as well as which columns you should join on.  Rename columns and manipulate as needed.  

**_HINT:_** Consider the possibility that the columns you choose to join on contain duplicate entries. If that is the case, devise a strategy to deal with the duplicates.

**_HINT:_** If the join throws an error message, consider setting the column you want to join on as the index for each DataFrame.

In the cell below, subset male and female heroes into different dataframes.  Create a scatterplot of the height and weight of each hero, with weight as the y-axis.  Plot both the male and female heroes subset into each dataframe, and make the color for each point in the scatterplot correspond to the gender of the superhero.

## Some Initial Investigation

Next, slice the DataFrame as needed and visualize the distribution of heights and weights by gender.  You should have 4 total plots.  

In the cell below:

* Slice the DataFrame into separate DataFrames by gender
* Complete the `show_distplot()` function.  This helper function should take in a DataFrame, a string containing the gender we want to visualize, and the column name we want to visualize by gender. The function should display a distplot visualization from seaborn of the column/gender combination.  

Hint: Don't forget to check the [seaborn documentation for distplot](https://seaborn.pydata.org/generated/seaborn.distplot.html) if you have questions about how to use it correctly!

In [ ]:
male_heroes_df = None
female_heroes_df = None

def show_distplot(dataframe, gender, column_name):
    pass

In [ ]:
# Male Height

In [ ]:
# Male Weight

In [ ]:
# Female Height

In [ ]:
# Female Weight

Discuss your findings from the plots above, with respect to the distribution of height and weight by gender.  Your explanation should include a discussion of any relevant summary statistics, including mean, median, mode, and the overall shape of each distribution.  

Write your answer below this line:
____________________________________________________________________________________________________________________________

### Sample Question: Most Common Powers

The rest of this notebook will be left to you to investigate the dataset by formulating your own questions, and then seeking answers using pandas and numpy.  Every answer should include some sort of visualization, when appropriate. Before moving on to formulating your own questions, use the dataset to answer the following questions about superhero powers:

* What are the 5 most common powers overall?
* What are the 5 most common powers in the Marvel Universe?
* What are the 5 most common powers in the DC Universe?

Analyze the results you found above to answer the following question:

How do the top 5 powers in the Marvel and DC universes compare?  Are they similar, or are there significant differences? How do they compare to the overall trends in the entire Superheroes dataset?

Write your answer below this line:
____________________________________________________________________________________________________________________________


### Your Own Investigation

For the remainder of this lab, you'll be focusing on coming up with and answering your own question, just like we did above.  Your question should not be overly simple, and should require both descriptive statistics and data visualization to answer.  In case you're unsure of what questions to ask, some sample questions have been provided below.

Pick one of the following questions to investigate and answer, or come up with one of your own!

* Which powers have the highest chance of co-occurring in a hero (e.g. super strength and flight), and does this differ by gender?
* Is there a relationship between a hero's height and weight and their powerset?
* What is the distribution of skin colors amongst alien heroes?

Explain your question below this line:
____________________________________________________________________________________________________________________________



Some sample cells have been provided to give you room to work. If you need to create more cells, you can do this easily by:

1. Highlighting a cell and then pressing `esc` to enter command mode.
1. Pressing `b` to add a cell below the currently highlighted cell, or `a` to add one above it.  

Be sure to include thoughtful, well-labeled visualizations to back up your analysis!

## Summary

In this lab, we demonstrated our mastery of:
* Using all of our Pandas knowledge to date to clean the dataset and deal with null values
* Using Queries and aggregations to group the data into interesting subsets as needed
* Using descriptive statistics and data visualization to find answers to questions we may have about the data